<%- include ../build/head.ejs %>

<div class="page">

  <div class="bar">
    <img class="icon" src="<%= server.icon ? server.iconURL : `https://dummyimage.com/128/7289DA/FFFFFF/&text=${encodeURIComponent(server.nameAcronym)}` %>"/>
    <span class="name"><%= server.name %></span>
    <a href="https://www.patreon.com/badosz"">
      <span class="premium">Get Premium</span>
    </a>
  </div>

  <div class="left" style="height: 160px">
      <b>How it works</b>
      <span class="sub">
        For every message sent you'll gain a random amount of XP.<br><br><br>

        Each level is harder to achive then the previous one.
      </span>
  </div>

  <div class="left" style="height: 160px">
    <b>Your AD here</b>
    <span class="sub" style="">
    </span>
  </div>

  <div class="top">

    <% top.forEach(user => { %>

      <div class="user" style="background:<%=  bg[user.id] ? `url("/public/img/bg/${bg[user.id]}.png")` : "" %>">

      <img class="avatar" src="<%= user.avatar %>" width="50px" height="50px">
      <span class="name"> <%= user.tag %> </span>
      <div class="border">
        <div class="progress" style="width:<%= user.bar %>%">
        </div>
      </div>
      <span class="level">Level <%= user.level %></span>
      <span class="xp"><%= user.xp %>/<%= user.needxp %> XP</span>
      <span class="place">#<%= user.place %></span>


    </div>


    <% }) %>
  </div>

</div>
