<%- include ../build/head.ejs %>

<span class="selection">
  Avalible plugins:
</span>

<div class="plugins">
  <% Mike.plugins.forEach(plugin => { %>
    <% if (!plugin.devOnly) { %>
      <div class="plugin" onclick="window.location = '/dashboard/<%= server.id %>/plugins/<%= plugin.id %>'">
        <div class="name">
          <%= plugin.name %>
        </div>
        <div class="description">
          <%= plugin.description %>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>
