<%- include ../build/head.ejs %>
<div class="page">
  <div class="tab">
  <% Object.keys(plugins).forEach(function(plugin){ %>
    <button class="tablinks" onclick="openPlugin(event, '<%= plugin %>')" <%- plugin == 'basic' ? 'id="basicPlugin"' : ''%>><%= plugins[plugin].name %></button>
  <% }) %>
  </div>
  <% Object.keys(plugins).forEach(function(plugin){ %>
      <div id="<%= plugin %>" class="tabcontent">
      <% plugins[plugin].commands.forEach(command => { %>
          <div class="command">
            <span class="name"><%= command.name %></span>
            <span class="description"><%= command.description %></span>
          </div>
      <% }) %>
      </div>
  <% }) %>


</div>
<script type="text/javascript" src="/public/js/commands.js"></script>
<script type="text/javascript">
document.getElementById("basicPlugin").click()
</script>
